<div class="container">
    <h2 class="pb-3">All Orders</h2>
    <div class="row" *ngIf="allOrders.length >0 ">
        <div class="col-12">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Order No</th>
                        <th>Created At </th>
                        <th>Product Qty</th>
                        <th>Total</th>
                        <th>Payment Method</th>
                        <th>view</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allOrders ; let i=index;">
                        <td>{{i +1}}</td>
                        <td>{{item.createdAt | date: 'dd-MM-yyyy HH:mm aa'}}</td>
                        <td>{{item.cartItems.length}}</td>
                        <td>{{item.totalOrderPrice}}</td>
                        <td>{{item.paymentMethodType}}</td>
                        <td> <a  class="btn btn-outline-info" (click)="openDialog(item)">Order Detail</a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
  
