<div class="container py-5">
    <div class="row" *ngIf="product">
        <div class="col-md-4">
            <div class="content">
                <owl-carousel-o [options]="customOptions" >
                    <ng-template carouselSlide *ngFor="let i of product.images">
                     <div class=" overflow-hidden text-center">
                      <img [src]="i" [alt]="i" class="carousel-container" >
                     </div>
                    </ng-template>  
                  </owl-carousel-o>
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-flex flex-column justify-content-center align-items-start  h-100">
                <h2>{{product.title}}</h2>
                <p>{{product.description}}</p>
                <div class="d-flex justify-content-between align-items-center w-100 ">
                    <span class="price-span">{{product.price}} EGP</span>
                    <div class="my-1">
                        <i class="fa-solid fa-star rating-color pe-1"></i>
                        <span class="price-span">{{product.ratingsAverage}}</span>
                    </div>
                </div>
                <div class="my-3 d-flex justify-content-center align-items-center w-100">
                    <div class="flex-grow-1">
                        <a  class="btn btn-success w-75 mx-auto add-btn text-white" (click)="addToCart(product._id)">
                            <i class="fa-solid fa-plus text-white"></i>
                            Add
                        </a>
                    </div>
                  <div (click)="addToWishList(product._id)"   [class]="productInWhishList ?'love-heart-wish' : 'love-heart-main' " >
                      <i class="fa-solid fa-heart fa-2xl cursor-pointer"></i>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>