@import 'src/app/var';
.add-btn {
    background-color: $main-color;
    transition: .5s all;
    &:hover {
        background-color: $hover-color;
    }
}
.love-heart-main{
    color: $main-color;
}
.love-heart-wish{
    color: tomato;
}
i{
    color: inherit;
}