<div class="container">
    <div class="register-form mx-auto pt-5">
        <div>
            <p *ngIf="errorMessage!='' " class="alert alert-danger">{{errorMessage}}</p>
        </div>
        <h3 class="fs-4">reset your account password </h3>
        <form [formGroup]="dataForm" (ngSubmit)="changePassword(dataForm)">
            <div class="py-1">
                <label for="currentPassword">currentPassword :</label>
                <input type="password" class="form-control " id="currentPassword"
                    formControlName="currentPassword">
                <div class="my-1"
                    *ngIf="dataForm.get('currentPassword')?.errors && dataForm.get('currentPassword')?.touched">
                    <p class="alert alert-danger" *ngIf="dataForm.get('currentPassword')?.errors!['required']"> Password is required !</p>
                    <p class="alert alert-danger" *ngIf="dataForm.get('currentPassword')?.errors!['pattern']"> enter
                        Valid Password !</p>
                </div>
            </div>
            <div class="py-1">
                <label for="password">new password :</label>
                <input type="password" class="form-control " id="password"
                    formControlName="password">
                <div class="my-1"
                    *ngIf="dataForm.get('password')?.errors && dataForm.get('password')?.touched">
                    <p class="alert alert-danger" *ngIf="dataForm.get('password')?.errors!['required']"> Password is required !</p>
                    <p class="alert alert-danger" *ngIf="dataForm.get('password')?.errors!['pattern']"> enter
                        Valid Password !</p>
                </div>
            </div>
            <div class="py-1">
                <label for="rePassword">rePassword :</label>
                <input type="password" class="form-control " id="rePassword"
                    formControlName="rePassword">
                <div class="my-1"
                    *ngIf="dataForm.get('rePassword')?.errors && dataForm.get('rePassword')?.touched" >
                    <p class="alert alert-danger" *ngIf="dataForm.get('rePassword')?.errors!['required']"> rePassword is required !</p>
                    <p class="alert alert-danger" *ngIf="dataForm.get('rePassword')?.errors!['pattern']"> enter Valid Password
                    </div>
                    <p class="alert alert-danger" *ngIf="dataForm.get('rePassword')?.value != dataForm.get('password')?.value && dataForm.get('rePassword')?.touched ">Re Password Must Equal To Password !</p>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <button *ngIf="!isLoading else loading" [disabled]="dataForm.invalid"
                    class="btn btn-outline-success ms-auto d-block mt-3">Change Password</button>
                <ng-template #loading>
                    <button class="ms-auto d-block mt-3 btn btn-success"><i
                            class="fa-solid fa-spinner fa-spin fa-1x"></i></button>
                </ng-template>
            </div>
        </form>

    </div>
</div>