<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<div class="cart-wrap"  *ngIf="cartItems.length>0 else noItems" >
		<div class="container">
	        <div class="row">
			    <div class="col-lg-8">
			        <div class="main-heading">Shopping Cart</div>
			        <div class="table-cart">
	                    <table class="text-center">
	                        <thead>
	                            <tr>
	                                <th>Product</th>
	                                <th>Price</th>
	                                <th>Quantity</th>
	                                <th>Total</th>
	                                <th>Delete</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr *ngFor="let item of cartItems">
	                                <!-- Title -->
                                    <td> 
	                                	<div class="display-flex align-center">
		                                    <div class="img-product">
		                                        <img [src]="item.product.imageCover" alt="{{item.product.description}}" class="mCS_img_loaded">
		                                    </div>
		                                    <div class="name-product">
		                                      {{item.product.title}}
		                                    </div>
	                                    </div>
	                                </td>
                                    <!-- Price -->
                                    <td>
                                        <div class="text-muted">
                                            {{item.price}} EGP
                                        </div>
                                    </td>
                                    <!-- Count -->
	                                <td class="product-count">
	                                    <form action="#" class="count-inlineflex">
										    <div class="qtyminus" (click)="changeItemQty(item.product._id, item.count -1)">-</div>
										    <input type="text" name="quantity" [value]="item.count" class="qty">
										    <div (click)="changeItemQty(item.product._id, item.count +1)" class="qtyplus">+</div>
										</form>
	                                </td>
                                    <!-- Total -->
	                                <td>
	                                    <div class="total">
	                                       {{item.price * item.count | currency:'EGP'}}
	                                    </div>
	                                </td>
                                    <!-- Delete -->
	                                <td>
	                                    <a class="cursor-pointer" (click)="deleteCartItem(item.product._id)">
	                                       <i class="fa-solid fa-trash-can fa-xl text-danger"></i>
	                                    </a>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    <div class="coupon-box">
	                        <form action="#" method="get" accept-charset="utf-8">
	                            <div class="coupon-input">
	                                <input type="text" name="coupon code" placeholder="Coupon Code">
	                                <button type="submit" class="round-black-btn">Apply Coupon</button>
	                            </div>
	                        </form>
	                    </div>
			        </div>
			        <!-- /.table-cart -->
			    </div>
			    <!-- /.col-lg-8 -->
			    <div class="col-lg-4">
			        <div class="cart-totals">
			            <h3>Cart Totals</h3>
			            <form action="#" method="get" accept-charset="utf-8">
			                <table>
			                    <tbody>
			                        <tr>
			                            <td>Subtotal</td>
			                            <td class="subtotal">{{totalCartPrice|currency:'EGP'}}</td>
			                        </tr>
			                        <tr>
			                            <td>Shipping</td>
			                            <td class="free-shipping">Free Shipping</td>
			                        </tr>
			                        <tr class="total-row">
			                            <td>Total</td>
			                            <td class="price-total">{{totalCartPrice|currency:'EGP'}}</td>
			                        </tr>
			                    </tbody>
			                </table>
			                <div class="btn-cart-totals">
			                    <a class="checkout round-black-btn" [routerLink]="['/order',cartID]" >Proceed to Checkout</a>
			                </div>
			                <!-- /.btn-cart-totals -->
			            </form>
			            <!-- /form -->
			        </div>
			        <!-- /.cart-totals -->
			    </div>
			    <!-- /.col-lg-4 -->
			</div>
		</div>
	</div>
<ng-template #noItems>
    <div class="container py-5 m-5 mx-auto">
        <h6 class="alert alert-info">Cart is Empty !</h6>
      <a routerLink="/home" class="btn btn-success w-50 d-block text-white mx-auto"><i class="fa-solid fa-shopping-cart text-white fa-xl"></i> Start Shopping</a>
  </div>
</ng-template>