.register-form{
    max-width: 50%;
}
label{
    font-weight: bold;
    padding-bottom: 5px;
}
.form-control{
    --bs-border-width :2px ; 
}
.register-form{
    max-width: 50%;
}
@media screen and (max-width:992px) {
    .register-form{
        max-width: 100%;
    }
}