<app-slider [allCategories]="allCategories"></app-slider>
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="pruduct py-2 px-3 rounded-2 overflow-hidden position-relative ">
        <img src="https://ecommerce.routemisr.com/Route-Academy-categories/1681511964020.jpeg" alt="" class="w-100">
        <span class="product-category">paoduct Category</span>
        <p class="fw-bold m-0 my-2 p-0">product Name</p>
        <div class="d-flex justify-content-between align-items-center ">
          <span class="price-span">300|EGP</span>
          <div class="my-1">
            <i class="fa-solid fa-star rating-start pe-1"></i>
            <span class="price-span">2.3</span>
          </div>
        </div>
        <div class="my-3 w-75 mx-auto "> 
          <a class="d-block  btn add-btn text-white" >
            <i class="fa-solid fa-plus text-white"></i>
            Add
          </a>
        </div>
      </div>
    </div>
  </div>
</div>