<div class="container p-5">
    <div class="mx-auto rest-form alert alert-danger" *ngIf="errorMessage!==''">{{errorMessage}}</div>
    <form [formGroup]="resetForm" (ngSubmit)="forgetPassword(resetForm)" class="rest-form mx-auto">
        <label for="email" class="fs-5 py-3">please enter your Email</label>
        <input type="email" placeholder="Email " id="email" formControlName="email" class="form-control">
        <div *ngIf="resetForm.invalid && resetForm.touched">
            <div class="alert alert-danger" *ngIf="resetForm.get('email')?.errors!['required']">Email is required</div>
            <div class="alert alert-danger" *ngIf="resetForm.get('email')?.errors!['email']">Enter Valid Email <span class="text-success">abc@example.com</span></div>
        </div>
        <button [disabled]="resetForm.invalid" class="btn btn-outline-success my-3">Verify</button>
    </form>
</div>